@import '~bootstrap/scss/bootstrap';

// colori 
$themeColorDark: #060113;
$themeColorLight: white;
$themeColorAccent: crimson;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: $themeColorDark;
    color: $themeColorLight;
}




input[type="checkbox"]:checked+label {
    background-color: #f9b44d;
    color: #fff;
    border-color: white;
}
input[type="checkbox"]+label:hover {
    background-color: #f9b44d;
    border-color: white;
}
input[type="checkbox"]+label {
    border-color: #f9b44d;
    color: #f9b44d;
}

// per togliere le freccette al type number
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.imgBoxIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 15rem;
}

.cardImg {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.imgBoxShow {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 30rem;
    width: 70%;

}

#card {
    background-color: #ffffffc5;
}
.textTeal {
color: #066e7c;
}
.bgTeal {
    background-color: #066e7c;

}
.textYellow {
    color: #f9b44d;
    }
    .bgYellow {
        background-color: #f9b44d;
        padding: 0.8rem 1.5rem;
        font-size: 1rem;
        border-radius: 1.5rem;
    }
.imgEditContainer {
    height: 15rem;
    width: 20rem;
    margin-top: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formpic {
    height: 18rem;
}