@import '~bootstrap/scss/bootstrap';


input[type="checkbox"]:checked+label {
    background-color: #007bff;
    color: #fff;
}

// per togliere le freccette al type number
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.imgBoxIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 10rem;
}

.cardImg {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.imgBoxShow {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#card {
    padding: 5px;
}